.title-text
{
    font-weight: 800;
    font-size: 25px;
}

.normal-text
{
    font-size: 20px;
}

.sub-text
{
    font-size: 18px;
}

.navigation-bar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    font-size: 16px;

}

.full-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-height: max-content;


}

.full-section-container
{
    display: flex;
    justify-content: center;
    flex-direction: row;

    max-width: 1000px;

    flex-wrap: wrap;


}

.what-we-do-section
{
    background-color: black;
    color:white;
    
}

.polaroid {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
  }

  .polaroid img {
    padding-top: 5px;
    width: 94%;
    height: 75%;
    object-fit: cover;
  }

  .polaroid::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  .polaroid::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


#calendar {
    max-width: 650px;
    margin: 0 auto;
  }

  .contact-section
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    height: 300px;
  }


  .event-box
  {
    border: 4px solid;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    width: 500px;

    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    
  }

  @media only screen and (min-width: 600px) {
  
    .hero-half-section
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      max-height:max-content;
    }

    .half-section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-height:max-content;

    }

    .right-box-text
    {

        max-width: 600px;
        min-width: 500px;
        display: flex;
        flex-direction: column;

        justify-content:center;
        align-items: center;

    }

    .left-box
    {
        min-width: 500px;
        display: flex;
        justify-content:center;

        align-items: center;

    }
    .about-us-img
    {
      width:300px;
    }
    .cookie-image{

        width: 400px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 10px;
      }

      .hero-half-section
      {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        max-height:max-content;
      }

      .half-section
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap-reverse;
            max-height:max-content;
            max-width: min-content;

        }

        .right-box-text
        {


            display: flex;
            flex-direction: column;

            justify-content:center;
            align-items: center;

            width: 500px;


        }

        .left-box
        {
            display: flex;
            justify-content:center;

            align-items: center;

            width: 500px;

        }

      .about-us-img
      {
        width:200px;
      }
      .cookie-image{

        width: 200px;
    }
    .contact-section
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
  
      height: 150px;
    }

    .event-box
    {
      border: 4px solid;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
      max-width: max-content;
  
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
      padding-right: 10px;
      
    }
  }